/* basic */
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    background-color:#d2202f;
    color: black;
    scroll-behavior: smooth;   
    font: 20px "Lato", sans-serif;
    align-items: center;
    justify-content: center;
}

.submitBtn{
    top: 11%;
    left: 55%;
    width: 100px;
    height: 40px;
    position: relative;
    z-index: 2;
    background-color: white;
}

iframe{
    background-color:aqua;
    font: 20px "Lato", sans-serif;
    align-items: center;
    border-style: solid;
    border-width: 3mm;
    border-color: #000000;
}
#list{
    text-align: center;
}

/* header stuffs */

.header {
    overflow: hidden;
    background-color: lightgray;
    opacity: 0.85;
    padding: 15px 10px;
}

.header a {
    float: left;
    color: black;
    padding: 20px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 25px;
    font-weight: bold;
}

.header a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: #d2202f;
    color: white;
}

.header-right {
    float: right;
}

/* Makes right header go under title. Make this three lines to expand instead */
@media screen and (max-width: 1075px) {
    .header a {
        color: black;
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}


